---
layout: default
title: 小火
comment: true
---

<div class="article">
    <h3 class="title">{{ page.title }}</h3>
    <div class="about">

<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=1420071834&verifier=ec27240f&dpc=1"></iframe>
    </div>
    <div class="fn-clear"></div>
    <div class="social">
        {% for link in site.follow %}
        <a href="{{ link.url }}" target="_blank"><i class="{{ link.class }}"></i></a>
        {% endfor %}
    </div>
    <div class="fn-clear"></div>
    <div class="contact">
        可以用<a href="mailto:{{ site.author.email }}">Email</a>联系我。
    </div>
    <div class="comment">
        {% if site.disqus.config %}
        <div id="disqus_thread"></div>
        {% else %}
            {% if site.duoshuo.config %}
            <div class="ds-thread"></div>
            {% endif %}
        {% endif %}
    </div>
</div>
